[submodule "packages/pve-manager/pve-manager"]
	path = packages/pve-manager/pve-manager
	url = https://git.proxmox.com/git/pve-manager.git
[submodule "packages/qemu-server/qemu-server"]
	path = packages/qemu-server/qemu-server
	url = https://git.proxmox.com/git/qemu-server.git
[submodule "packages/zfsonlinux/zfsonlinux"]
	path = packages/zfsonlinux/zfsonlinux
	url = https://git.proxmox.com/git/zfsonlinux.git
[submodule "packages/pve-qemu/pve-qemu"]
	path = packages/pve-qemu/pve-qemu
	url = https://git.proxmox.com/git/pve-qemu.git
[submodule "packages/pve-common/pve-common"]
	path = packages/pve-common/pve-common
	url = https://git.proxmox.com/git/pve-common
[submodule "packages/pve-installer/pve-installer"]
	path = packages/pve-installer/pve-installer
	url = https://git.proxmox.com/git/pve-installer.git
[submodule "packages/pve-container/pve-container"]
	path = packages/pve-container/pve-container
	url = https://git.proxmox.com/git/pve-container.git
[submodule "packages/proxmox-archive-keyring/proxmox-archive-keyring"]
	path = packages/proxmox-archive-keyring/proxmox-archive-keyring
	url = https://git.proxmox.com/git/proxmox-archive-keyring.git
[submodule "packages/proxmox-ve/proxmox-ve"]
	path = packages/proxmox-ve/proxmox-ve
	url = https://git.proxmox.com/git/proxmox-ve.git
[submodule "packages/pve-storage/pve-storage"]
	path = packages/pve-storage/pve-storage
	url = https://git.proxmox.com/git/pve-storage.git
[submodule "packages/proxmox-mini-journalreader/proxmox-mini-journalreader"]
	path = packages/proxmox-mini-journalreader/proxmox-mini-journalreader
	url = https://git.proxmox.com/git/proxmox-mini-journalreader.git
[submodule "packages/pve-cluster/pve-cluster"]
	path = packages/pve-cluster/pve-cluster
	url = https://git.proxmox.com/git/pve-cluster.git
[submodule "packages/proxmox-i18n/proxmox-i18n"]
	path = packages/proxmox-i18n/proxmox-i18n
	url = https://git.proxmox.com/git/proxmox-i18n
[submodule "packages/proxmox-widget-toolkit/proxmox-widget-toolkit"]
	path = packages/proxmox-widget-toolkit/proxmox-widget-toolkit
	url = https://git.proxmox.com/git/proxmox-widget-toolkit
[submodule "packages/pve-http-server/pve-http-server"]
	path = packages/pve-http-server/pve-http-server
	url = https://git.proxmox.com/git/pve-http-server
[submodule "packages/pve-docs/pve-docs"]
	path = packages/pve-docs/pve-docs
	url = https://git.proxmox.com/git/pve-docs
[submodule "packages/libgit2/libgit2"]
	path = packages/libgit2/libgit2
	url = https://git.proxmox.com/git/libgit2
[submodule "packages/pve-guest-common/pve-guest-common"]
	path = packages/pve-guest-common/pve-guest-common
	url = https://git.proxmox.com/git/pve-guest-common
[submodule "packages/pve-xtermjs/pve-xtermjs"]
	path = packages/pve-xtermjs/pve-xtermjs
	url = https://git.proxmox.com/git/pve-xtermjs
[submodule "packages/pve-access-control/pve-access-control"]
	path = packages/pve-access-control/pve-access-control
	url = https://git.proxmox.com/git/pve-access-control
[submodule "packages/ifupdown2/ifupdown2"]
	path = packages/ifupdown2/ifupdown2
	url = https://git.proxmox.com/git/ifupdown2
[submodule "packages/pve-ha-manager/pve-ha-manager"]
	path = packages/pve-ha-manager/pve-ha-manager
	url = https://git.proxmox.com/git/pve-ha-manager
[submodule "packages/pve-firewall/pve-firewall"]
	path = packages/pve-firewall/pve-firewall
	url = https://git.proxmox.com/git/pve-firewall
[submodule "packages/proxmox-acme/proxmox-acme"]
	path = packages/proxmox-acme/proxmox-acme
	url = https://git.proxmox.com/git/proxmox-acme
[submodule "packages/pve-network/pve-network"]
	path = packages/pve-network/pve-network
	url = https://git.proxmox.com/git/pve-network
[submodule "packages/pve-zsync/pve-zsync"]
	path = packages/pve-zsync/pve-zsync
	url = https://git.proxmox.com/git/pve-zsync
[submodule "packages/lxcfs/lxcfs"]
	path = packages/lxcfs/lxcfs
	url = https://git.proxmox.com/git/lxcfs
[submodule "packages/ksm-control-daemon/ksm-control-daemon"]
	path = packages/ksm-control-daemon/ksm-control-daemon
	url = https://git.proxmox.com/git/ksm-control-daemon
[submodule "packages/lxc/lxc"]
	path = packages/lxc/lxc
	url = https://git.proxmox.com/git/lxc
[submodule "packages/proxmox-kernel-helper/proxmox-kernel-helper"]
	path = packages/proxmox-kernel-helper/proxmox-kernel-helper
	url = https://git.proxmox.com/git/proxmox-kernel-helper
[submodule "packages/fonts-font-logos/fonts-font-logos"]
	path = packages/fonts-font-logos/fonts-font-logos
	url = https://git.proxmox.com/git/fonts-font-logos
[submodule "packages/kronosnet/kronosnet"]
	path = packages/kronosnet/kronosnet
	url = https://git.proxmox.com/git/kronosnet
[submodule "packages/pve-eslint/pve-eslint"]
	path = packages/pve-eslint/pve-eslint
	url = https://git.proxmox.com/git/pve-eslint
[submodule "packages/librados2-perl/librados2-perl"]
	path = packages/librados2-perl/librados2-perl
	url = https://git.proxmox.com/git/librados2-perl
[submodule "packages/extjs/extjs"]
	path = packages/extjs/extjs
	url = https://git.proxmox.com/git/extjs
[submodule "packages/libxdgmime-perl/libxdgmime-perl"]
	path = packages/libxdgmime-perl/libxdgmime-perl
	url = https://git.proxmox.com/git/libxdgmime-perl
[submodule "packages/libarchive-perl/libarchive-perl"]
	path = packages/libarchive-perl/libarchive-perl
	url = https://git.proxmox.com/git/libarchive-perl
[submodule "packages/smartmontools/smartmontools"]
	path = packages/smartmontools/smartmontools
	url = https://git.proxmox.com/git/smartmontools
[submodule "packages/vncterm/vncterm"]
	path = packages/vncterm/vncterm
	url = https://git.proxmox.com/git/vncterm
[submodule "packages/sencha-touch/sencha-touch"]
	path = packages/sencha-touch/sencha-touch
	url = https://git.proxmox.com/git/sencha-touch
[submodule "packages/spiceterm/spiceterm"]
	path = packages/spiceterm/spiceterm
	url = https://git.proxmox.com/git/spiceterm
[submodule "packages/swtpm/swtpm"]
	path = packages/swtpm/swtpm
	url = https://github.com/stefanberger/swtpm.git
[submodule "packages/libtpms/libtpms"]
	path = packages/libtpms/libtpms
	url = https://github.com/stefanberger/libtpms
[submodule "packages/libjs-qrcodejs/libjs-qrcodejs"]
	path = packages/libjs-qrcodejs/libjs-qrcodejs
	url = https://git.proxmox.com/git/libjs-qrcodejs
[submodule "packages/libpve-u2f-server-perl/libpve-u2f-server-perl"]
	path = packages/libpve-u2f-server-perl/libpve-u2f-server-perl
	url = https://git.proxmox.com/git/libpve-u2f-server-perl
[submodule "packages/corosync-pve/corosync-pve"]
	path = packages/corosync-pve/corosync-pve
	url = https://git.proxmox.com/git/corosync-pve
[submodule "packages/corosync-qdevice/corosync-qdevice"]
	path = packages/corosync-qdevice/corosync-qdevice
	url = https://git.proxmox.com/git/corosync-qdevice
[submodule "packages/proxmox-backup-qemu/proxmox-backup-qemu"]
	path = packages/proxmox-backup-qemu/proxmox-backup-qemu
	url = https://git.proxmox.com/git/proxmox-backup-qemu
[submodule "packages/proxmox-backup/proxmox-backup"]
	path = packages/proxmox-backup/proxmox-backup
	url = https://git.proxmox.com/git/proxmox-backup
[submodule "packages/debcargo-conf/debcargo-conf"]
	path = packages/debcargo-conf/debcargo-conf
	url = https://git.proxmox.com/git/debcargo-conf
[submodule "packages/proxmox-offline-mirror/proxmox-offline-mirror"]
	path = packages/proxmox-offline-mirror/proxmox-offline-mirror
	url = https://git.proxmox.com/git/proxmox-offline-mirror
[submodule "packages/proxmox-perl-rs/proxmox-perl-rs"]
	path = packages/proxmox-perl-rs/proxmox-perl-rs
	url = https://git.proxmox.com/git/proxmox-perl-rs
[submodule "packages/pxar/pxar"]
	path = packages/pxar/pxar
	url = https://git.proxmox.com/git/pxar
[submodule "packages/proxmox-firewall/proxmox-firewall"]
	path = packages/proxmox-firewall/proxmox-firewall
	url = https://git.proxmox.com/git/proxmox-firewall
[submodule "packages/pathpatterns/pathpatterns"]
	path = packages/pathpatterns/pathpatterns
	url = https://git.proxmox.com/git/pathpatterns
[submodule "packages/proxmox-backup-meta/proxmox-backup-meta"]
	path = packages/proxmox-backup-meta/proxmox-backup-meta
	url = https://git.proxmox.com/git/proxmox-backup-meta
[submodule "packages/proxmox-backup-restore-image/proxmox-backup-restore-image"]
	path = packages/proxmox-backup-restore-image/proxmox-backup-restore-image
	url = https://github.com/jiangcuo/proxmox-backup-restore-image
[submodule "packages/cargo/cargo"]
	path = packages/cargo/cargo
	url = https://git.proxmox.com/git/cargo
[submodule "packages/pve-lxc-syscalld/pve-lxc-syscalld"]
        path = packages/pve-lxc-syscalld/pve-lxc-syscalld
        url = https://git.proxmox.com/git/pve-lxc-syscalld
[submodule "packages/pve-edk2-firmware/pve-edk2-firmware"]
	path = packages/pve-edk2-firmware/pve-edk2-firmware
	url = https://github.com/jiangcuo/pve-edk2-firmware
	branch = Port
[submodule "packages/pixman/pixman"]
	path = packages/pixman/pixman
	url = https://salsa.debian.org/xorg-team/lib/pixman
[submodule "packages/libqb/libqb"]
	path = packages/libqb/libqb
	url = https://salsa.debian.org/ha-team/libqb
[submodule "packages/ceph-17/ceph-17"]
	path = packages/ceph-17/ceph-17
	url = https://git.proxmox.com/git/ceph.git
[submodule "packages/ceph-18/ceph-18"]
	path = packages/ceph-18/ceph-18
	url = https://git.proxmox.com/git/ceph.git
[submodule "packages/ceph-19/ceph-19"]
	path = packages/ceph-19/ceph-19
	url = https://git.proxmox.com/git/ceph.git
[submodule "packages/novnc-pve/novnc-pve"]
	path = packages/novnc-pve/novnc-pve
	url = https://git.proxmox.com/git/novnc-pve.git
