[submodule "packages/pve-manager/pve-manager"]
	path = packages/pve-manager/pve-manager
	url = https://git.proxmox.com/git/pve-manager.git
[submodule "packages/qemu-server/qemu-server"]
	path = packages/qemu-server/qemu-server
	url = https://git.proxmox.com/git/qemu-server.git
[submodule "packages/zfsonlinux/zfsonlinux"]
	path = packages/zfsonlinux/zfsonlinux
	url = https://git.proxmox.com/git/zfsonlinux.git
[submodule "packages/pve-qemu/pve-qemu"]
	path = packages/pve-qemu/pve-qemu
	url = https://git.proxmox.com/git/pve-qemu.git
[submodule "packages/pve-common/pve-common"]
	path = packages/pve-common/pve-common
	url = https://git.proxmox.com/git/pve-common
[submodule "packages/pve-installer/pve-installer"]
	path = packages/pve-installer/pve-installer
	url = https://git.proxmox.com/git/pve-installer.git
[submodule "packages/pve-container/pve-container"]
	path = packages/pve-container/pve-container
	url = https://git.proxmox.com/git/pve-container.git
[submodule "packages/proxmox-archive-keyring/proxmox-archive-keyring"]
	path = packages/proxmox-archive-keyring/proxmox-archive-keyring
	url = https://git.proxmox.com/git/proxmox-archive-keyring.git
[submodule "packages/proxmox-ve/proxmox-ve"]
	path = packages/proxmox-ve/proxmox-ve
	url = https://git.proxmox.com/git/proxmox-ve.git
[submodule "packages/pve-storage/pve-storage"]
	path = packages/pve-storage/pve-storage
	url = https://git.proxmox.com/git/pve-storage.git
[submodule "packages/proxmox-mini-journalreader/proxmox-mini-journalreader"]
	path = packages/proxmox-mini-journalreader/proxmox-mini-journalreader
	url = https://git.proxmox.com/git/proxmox-mini-journalreader.git
[submodule "packages/ceph-17/ceph"]
	path = packages/ceph-17/ceph
	url = https://git.proxmox.com/git/ceph.git
	branch = quincy-stable-8
[submodule "packages/ceph-18/ceph"]
	path = packages/ceph-18/ceph
	url = https://git.proxmox.com/git/ceph.git
	branch = reef-stable-8
[submodule "packages/ceph-19/ceph"]
	path = packages/ceph-19/ceph
	url = https://git.proxmox.com/git/ceph.git
